body {
    font-family: FreeMono, monospace;
    margin: 0;
    padding: 20px;
    background-color: #faa08c; 
}

.gallery {
    width: 100%;
    margin: auto;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 20px); /* Три изображения по горизонтали для десктопа */
    margin: 10px; 
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.pager {
    text-align: center;
    margin-top: 10px;
}
